<div class="card">
    <div class="text-center overflow-auto">
        <table class="table table-sm table-striped table-bordered">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Profession</th>
                    <th>Name</th>
                    <th>About</th>
                    <th>Draft</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let letter of coverLetters; let idx=index'>
                    <td>{{letter.id}}</td>
                    <td>{{letter.profession}}</td>
                    <td>{{letter.name}}</td>
                    <td>{{letter.about}}</td>
                    <td>{{letter.draft? 'Yes': 'Not'}}</td>
                    <td>
                        <a class="btn btn-link" (click)="edit(letter.id)">Edit</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>