<nav class="navbar bg-dark">
  <h2 class="text-white">Cover letter App</h2>
</nav>
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-8">
      <div class="card">
      <app-cover-letter-table *ngIf="coverLetterService.coverLetters.length; else messageBlock"
      [coverLetters] = "coverLetterService.coverLetters"
      (onEdit)="editCoverLetters($event)"
      ></app-cover-letter-table>
      
      <ng-template #messageBlock>
          <div class="noLetters shadow p-3 mb-5 bg-white rounded">
            <h4 class="text-center">No letters!</h4>
          </div>
      </ng-template>
      </div>
    </div>

    <div class="col-lg-4">
      <div class="card">
        <app-cover-letter-form
        (onAdd)="addCoverLetters($event)"
        (onUpdate)="updateCoverLetters($event)"
        [editableLetter] = "coverLetterService.editableLetter"       
        >  
        </app-cover-letter-form>        
      </div>
    </div>
  </div>
</div>