<div class="container-fluid">
  <h3 class="text-center text-primary">Create/Edit cover letter</h3>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="error-message text-danger text-center" *ngIf="message">
        {{message}}
      </div>
      
      <div class="form-group">
        <input type="number" 
        class="form-control"
        [ngClass]="{'is-invalid':id.dirty && id.invalid && id.touched}"  
        placeholder="Id (number)"
        formControlName="id"
        [readonly]="editableLetter? !editableLetter.draft: false">
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        [ngClass]="{'is-invalid':profession.dirty && profession.invalid && profession.touched}"
        placeholder="Profession"
        formControlName="profession">
      </div>

      <div class="form-group">
        <input type="text"
        class="form-control"
        [ngClass]="{'is-invalid':name.dirty && name.invalid && name.touched}"
        placeholder="Name"
        formControlName="name">
      </div>

      <div class="form-group">
        <textarea
         class="form-control"
         [ngClass]="{'is-invalid':about.dirty && about.invalid && about.touched}"
         placeholder="About"
         formControlName="about">
        </textarea>
      </div> 


      <div class="form-group">        
        <div class="checkbox">
          <label>
            <input type="checkbox"
             formControlName="draft"              
            >
            Draft</label>
        </div>
      </div>
      <div class="d-flex justify-content-center">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
</div>