.card{
    height: 620px;    
}
.container-fluid{
    margin: 20px auto;
   
}
form{
    margin: 5%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 5%;
    
    & .form-group{
        margin-top: 40px;
    } 
}
.noLetters{
margin: 20% auto;
width: 300px;
}

.table td, .table th{
    vertical-align:middle
}

@media (max-width: 991px) {
    form{
        margin: 20px;
        padding: 0px 3%;        
        & .form-group{
            margin-top: 40px;
        } 
    }
}