.card{
    height: 800px;    
}
.container-fluid{
    margin: 50px auto;
}
form{
    margin: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 0px 30px;
    
    & input, textarea{
        margin-top: 50px;
    } 
}
.noLetters{
margin: 20% auto;
width: 300px;
}

.table td, .table th{
    vertical-align:middle
}